.game-board {
  display: flex;
  width: fit-content;
  height: fit-content;
  max-width: 1024px;
  max-height: 1024px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 150px 100px;
  box-sizing: border-box;
  border: 3px solid #fae2a0;
  box-shadow: 0px 0px 30px 1px #fae2a0;
  border-radius: 4px;
}

.column {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}


